MT5_LOGIN=12345678
MT5_PASSWORD=replace_me
MT5_SERVER=Broker-Demo
MT5_PATH=
MT5_INIT_TIMEOUT_MS=120000

BOT_SYMBOLS=EURUSD,GBPUSD,XAUUSD
BOT_RISK_PER_TRADE=0.01
BOT_MAGIC=240515
BOT_DEVIATION=20
BOT_TIMEFRAME_ENTRY=M15
BOT_TIMEFRAME_TREND=H4
BOT_TIMEZONE=UTC
BOT_SESSION_WINDOWS_UTC=12:00-16:00
BOT_POLL_SECONDS=60
BOT_NEWS_PAUSE_MINUTES=30
BOT_LOG_LEVEL=INFO
